html { 
    height: 100%;
}

body {
    padding-top: 50px;
    height: 100%;
}

.body-content {
    height: 100%;
    background: #333;
    border-left: 5px solid #aaa;
    border-right: 5px solid #aaa;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar */
/* For positioning the multilevel menu on the navbar */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
nav, footer {
    background: #aaa;
}
.my-navbar {
    border-width: 0;
}
.my-navbar a {
    color: #464646;
}
.dropdown-menu > li > a {
    color: #464646;
}
.my-navbar .dropdown-menu {
    background-color: #eee;
    border-radius: 3px;
}
.my-navbar .navbar-nav > li a:hover, .my-navbar .navbar-nav > li.open > a {
    background-color: #ddd;
}
.my-navbar .dropdown-menu {
    padding: 0;
}
.my-navbar .dropdown-menu .fake-link, .my-navbar .dropdown-menu a {
    display: block; padding: 6px 20px;
}
.my-navbar .dropdown-menu .divider { 
    margin: 4px 0; background-color: #ccc;
}
.my-navbar .dropdown-menu .fake-link:hover {
    background-color: #ddd;
}
.my-navbar .dead-link {
    color: grey; cursor: default;
}
.my-navbar .dropdown-menu .dead-link {
    color: black;
}
.my-navbar #window-controls {
    width: 25px;
    height: 25px;
    background-color: red;
}
.my-navbar .navbar-toggle, my-navbar .navbar-toggle, .icon-bar {
    border: 1px solid #464646;
}

/* Prettyprint styles */
/* Turn on text editor line numbers for every line */
li.L0,li.L1,li.L2,li.L3, li.L4, li.L5,li.L6,li.L7,li.L8, li.L9 { list-style-type: decimal !important; }
/* Alternate line shading */
li.L1, li.L3, li.L5, li.L7, li.L9 { background: #333; }
pre.prettyprint {
    border: 0px;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}
