<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brad Stratton - @ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link href="https://cdn.rawgit.com/google/code-prettify/master/loader/skins/desert.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    @Html.Partial("Navbar")

    <div class="body-content">
        @RenderBody()

        @Html.Partial("Footer")
    </div>

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/myScript.js"></script>

</body>
</html>