<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-contents" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- navbar contents -->
        <div class="collapse navbar-collapse" id="navbar-contents">
            <ul class="nav navbar-nav">
                
                <li class="dropdown keep-open">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle dropdown-submenu-triggerbutton" data-toggle="dropdown">Open <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Item 1</a></li>
                                <li><a href="#">Item 2</a></li>
                                <li><a href="#">Item 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Action 2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Action 3</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Edit</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Source", "Source")</li>
                        <li><a href="https://github.com/bstratton283/">GitHub</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">C#</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">HTML</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
</nav>